<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PinnyNotes.WpfUi.Properties.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PinnyNotes.WpfUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PinnyNotes.WpfUi.Properties.ToolSettings>
            <setting name="Base64ToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BracketToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CaseToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateTimeToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GibberishToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HashToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HtmlEntityToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IndentToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="JoinToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="JsonToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ListToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QuoteToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RemoveToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SlashToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SortToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SplitToolState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrimToolState" serializeAs="String">
                <value>1</value>
            </setting>
        </PinnyNotes.WpfUi.Properties.ToolSettings>
        <PinnyNotes.WpfUi.Properties.Settings>
            <setting name="AutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CycleThemes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewLineAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimCopiedText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimPastedText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepNewLineAtEndVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoIndent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiddleClickPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartupPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransparentNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpaqueWhenFocused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyTransparentWhenPinned" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ConvertIndentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMonoFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotesInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>0</value>
            </setting>
        </PinnyNotes.WpfUi.Properties.Settings>
    </userSettings>
</configuration>
