<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pinny_Notes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pinny_Notes.Properties.Settings>
            <setting name="AutoCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Colour" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CycleColours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupPositionTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupPositionLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimCopiedText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimPastedText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepNewLineAtEndVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoIndent" serializeAs="String">
                <value>True</value>
            </setting>
        </Pinny_Notes.Properties.Settings>
    </userSettings>
</configuration>