<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PinnyNotes.WpfUi.Properties.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PinnyNotes.WpfUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PinnyNotes.WpfUi.Properties.ToolSettings>
            <setting name="Base64ToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Base64ToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BracketToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BracketToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaseToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaseToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimeToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateTimeToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GibberishToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GibberishToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HashToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HtmlEntityToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlEntityToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndentToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndentToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoinToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JoinToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JsonToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JsonToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuoteToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuoteToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlashToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlashToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrimToolEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimToolFavourite" serializeAs="String">
                <value>False</value>
            </setting>
        </PinnyNotes.WpfUi.Properties.ToolSettings>
        <PinnyNotes.WpfUi.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>0</value>
            </setting>
        </PinnyNotes.WpfUi.Properties.Settings>
    </userSettings>
</configuration>